/* Default styles for desktop */
.project-card {
  display: flex;
  align-items: center;
  position: relative;
}

.project-card img {
  width: 380px;
  height: auto;
  object-fit: cover;
  z-index: 1;
  border: 3px solid rgb(0, 0, 0);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: auto;
  height: 100%;
  background-color: #6058f6d8;
  mix-blend-mode: multiply;
  /* Change the color and opacity as needed */
  z-index: 2;
  /* Place the pseudo-element above the image */
  transition: all 0.3s ease-in-out;

}


.project-card:hover::before {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}


.project-card .description-box {
  position: absolute;
  top: 40px;
  left: 230px;
  background-color: #fff;
  padding: 20px;
  z-index: 2;
  width: 60%;
  border-radius: 12px;
}

.project-card p {
  color: #000;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.project-card h2 {
  font-size: 2rem;
  margin: 0 0 10px;
  position: absolute;
  bottom: calc(100% - 50px);
  /* Set the right property to the same value as the left property of the description box */
  right: calc(100% - 700px);
  color: #ffffff;
  /* padding: 0px; */
  padding-right: 2%;
  z-index: 3;
  /* border: 2px solid #000;
  background-color: #fff; */
  width: 40%;
  /* height: 22; */
  display: inline-block;
  text-align: right;
}


ul {
  position: absolute;
  font-size: 20px;
  /* -webkit-text-stroke-color: #000; */
  /* -webkit-text-stroke: #000; */
  bottom: 5px;
  right: -18%;
  transform: translateX(-50%);
  display: flex;
  justify-content: right;
  align-items: right;
  list-style: none;
  padding: 0;
  z-index: 4;
  color: #fff;
  text-shadow:
    -1px -1px 0 #363636,
    1px -1px 0 #363636,
    -1px 1px 0 #363636,
    1px 1px 0 #363636;

  -webkit-font-smoothing: antialiased;

}

li {
  padding: 0 20px;
  white-space: nowrap;
}




/* Media query for mobile */
@media screen and (max-width: 768px) {
  .project-card {
    flex-direction: column;
  }

  .project-card img {
    width: 100%;
    height: auto;
  }

  .project-card .description-box {
    width: 100%;
    margin-top: 20px;
  }

  .project-card h2 {
    position: relative;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .project-card .description-box {
    position: static;
    margin-top: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .project-card h2 {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: auto;
    text-align: center;
  }
}

/* Styles for mobile devices */
@media screen and (max-width: 768px) {
  ul {
    right: 0;
    left: 0;
    transform: none;
    justify-content: center;
    position: relative;
    /* Change position to relative */
    bottom: auto;
    /* Remove bottom property */
    display: flex;
    flex-wrap: wrap;
    /* Add flex-wrap property */
    justify-content: center;
    /* Center the list */
    align-items: center;
    padding: 0;
  }

  li {
    margin: 0 10px;
    /* Use margin instead of padding */
    white-space: nowrap;
  }
}