<div class="project-card">
  <img src="{{ project.img }}" alt="Project Image">

  <div class="hidden" animateOnScrollOther>
    <h2><a href="{{ project.link }}">{{ project.name }} ➔ </a></h2>
    <div class="description-box">
      <p [innerHTML]=project.description class="description-txt"> {{ project.description }}</p>

    </div>
  </div>
  <ul>
    <li *ngFor="let skill of project.tech">{{ skill }}</li>
  </ul>

  <div class="dates">
    <p>{{ project.startDate }} : {{ project.endDate }} </p>
    <!-- <p>Start date:</p> -->
    <!-- <p>End date:</p> -->
  </div>



  <!-- <a href="#">View Project</a> -->
</div>