<app-loading-screen></app-loading-screen>
<div class="page">
  <div class="page-contents">

    <app-main-info></app-main-info>

    <div class="divider">Div1</div>
    <div class="skills">
      <app-skills-card [title]="skillcard1Contents.title" [skills]="skillcard1Contents.skills"></app-skills-card>
      <app-skills-card [title]="skillcard2Contents.title" [skills]="skillcard2Contents.skills"></app-skills-card>
      <app-skills-card [title]="skillcard3Contents.title" [skills]="skillcard3Contents.skills"></app-skills-card>
    </div>

    <div class="divider">Div1</div>

    <div class="projs">
      <app-proj-card></app-proj-card>
      <app-proj-card></app-proj-card>
      <app-proj-card></app-proj-card>
      <app-proj-card></app-proj-card>
    </div>

    <!-- <app-projects></app-projects> -->
    <app-education></app-education>

  </div>

</div>