<div class="main-info hidden" animateOnScroll>
    <img [src]="profileImage" alt="Profile Picture">
    <h1>
        <span>Sage <br> Belknap</span> <br>
    </h1>
    <h2>{{ jobTitle }}</h2>
    <p>I am a back end developer with 1 year of experience in building projects that solve creative problems and
        building web applications.
        I am proficient in a variety of programming languages, including
        <b>Java, Python,</b> and <b>Typescript.</b>
        I am also familiar with tools/concepts such as
        <b>Angular, React, Spring Boot,</b> and <b>Graphic Design.</b>
    </p>
    <div class="divider"></div>
    <!-- <p class="button">Button 1</p> -->
    <div class="divider"></div>
    <!-- <p>Button 2</p> -->
</div>