<!-- <hr> -->

<div class="container hidden" *ngFor="let education of educationList" scrollAnimation>
  <h2 class="top-row"> 
    <img class="logo" src="https://i.imgur.com/wVezsJj.png" alt="Kenize Image TODO">
  </h2>
  <div class="hidden" scrollAnimationBlur>


  </div>
  <div class="bottom-row">
    <img src="../../../assets/media/img/cert.png" alt="Kenize Image TODO">
    <p>{{ education.description }}</p>

  </div>
  <div class="dates">
    <p>Start date: {{ education.startDate }}</p>
    <p>End date: {{ education.endDate }}</p>
  </div>
</div>

<!-- <hr> -->