<!-- <h2 class="hidden" animateOnScroll>About me</h2> -->
<div class="row hidden" animateOnScrollOtherLF>
  <div class="image-container">
    <img src="https://i.imgur.com/sGAObtN.jpeg" alt="Image of me">
    <!-- <div class="rectangle">RRR</div> -->
  </div>
  <div class="me-description">
    <p>
      Hello! My name is Sage.
    </p>
    <br>
    <p>
      My journey with software engineering starts in the mid-2010's, where I began to code without even realizing it.
      I played around with HTML and CSS while tinkering with Tumblr themes, hacked my Nintendo 3DS to add mods to my
      games, and spent countless late nights tweaking mods to get the exact content I wanted in The Sims 4.
    </p>
    <br>
    <p>
      It wasn't until someone close to me suggested that I should pursue a career in coding that I started researching
      IT
      jobs that didn't necessarily involve coding, but that only made me wonder: <em>why not coding?</em>
    </p>
    <br>
    <p>
      I've since completed a Java Foundations Certificate program and have built <a
        href="https://github.com/8bllgrl">several projects which are published on my GitHub.</a> I'm eager
      to continue learning and creating solutions to coding problems that benefit others, and I'm always looking for new
      skills to acquire.

    </p>
    <br>
    <p>
      My ultimate goal is to break into the tech industry,
      where I can utilize my skills to their fullest potential.
      I am driven by the same determination I had during the 2010's, when I first started to tinker with computers,
      where I spent long nights working on code. As I work on personal projects,
      I'm eagerly looking forward to employment as a software engineer.
    </p>
    <br>
  </div>
</div>